name: CI
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  test:
    name: e2e
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version-file: go.mod
      - name: Cache tools
        uses: actions/cache@v3
        with:
          path: bin/download
          key: cache-tools-go-${{ hashFiles('go.mod') }}-${{ hashFiles('Makefile') }}
      - name: Cache files
        uses: actions/cache@v3
        with:
          path: cache
          key: cache-files-go-${{ hashFiles('go.mod') }}-${{ hashFiles('Makefile') }}
      - uses: ./.github/actions/aqua
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup tools
        run: make setup
      - name: Run code check
        run: make check-generate
      - name: Run lint
        run: make lint
      - name: Run environment
        working-directory: e2e
        run: |
          make start
          make install-test-pod
          make install-policy-viewer
      - name: Test
        working-directory: e2e
        run: make test
