name: CI
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  test:
    name: e2e
    runs-on:
      group: network-policy-viewer
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - name: Cache tools
        uses: actions/cache@v4
        with:
          path: bin/download
          key: cache-tools-go-${{ hashFiles('go.mod') }}-${{ hashFiles('Makefile') }}
      - name: Cache files
        uses: actions/cache@v4
        with:
          path: cache
          key: cache-files-go-${{ hashFiles('go.mod') }}-${{ hashFiles('Makefile') }}
      - uses: ./.github/actions/aqua
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup tools
        run: make setup download-cilium-cli
      - name: Run code check
        run: make check-generate
      - name: Run lint
        run: make lint
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build cilium-agent-proxy
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          load: true
          push: false
          tags: cilium-agent-proxy:dev
      - name: Run environment
        working-directory: e2e
        run: |
          make start
          make install-test-pod
          make install-policy-viewer
      - name: Test
        working-directory: e2e
        run: make test
